branches:
  only:
  - master

env:
  global:
  - RGL_USE_NULL=TRUE

language: r
sudo: required
cache: packages

warnings_are_errors: true
r_build_args: '--no-manual'
r_check_args: '--no-build-vignettes --no-manual'

r:
  - oldrel
  - release
  - devel

r_packages:
  - devtools
  - covr
  - sessioninfo
  - data.table
  - origami

r_github_packages:
  - r-lib/covr
  - r-lib/sessioninfo
  - tlverse/hal9001
  - nhejazi/haldensify
  - tlverse/sl3

after_success:
  ## coverage
  - travis_wait 80 Rscript -e "covr::codecov(line_exclusions = list('R/utils.R', 'R/plots.R'))"

on_failure:
  - "./travis-tool.sh dump_logs"

notifications:
  email:
    on_success: change
    on_failure: change
